<ul id="nav-pills-h-profil-e" class="nav nav-pills nav-justified">
    <li class="triangle-down">
        <a href="{{ path('mes-trajets') }}">
            <i class="fa fa-car"></i>
            <p>Covoiturages</p>
        </a>
    </li>
    <li class="triangle-down">
        <a href="{{ path('avis_laisser') }}">
            <i class="fa fa-star"></i>
            <p>Avis</p>
        </a>
    </li>
    <li class="triangle-down">
        <a  href="{{ path('mes-alertes') }}">
            <i class="fa fa-bullhorn"></i>
            <p>Alerts</p>
        </a>
    </li>
    <li class="triangle-down">
        <a  href="{{ path('fos_message_inbox') }}">
            <i class="fa fa-envelope-o"></i>
            <p>Messages</p>
        </a>
    </li>
    <li class="triangle-down">
        <a  href="{{ path('vos_notifications') }}">
            <i class="fa fa-bell-o"></i>
            <p>Notifications</p>
        </a>
    </li>
    <li class="triangle-down active">
        <a  href="{{ path('fos_user_profile_edit') }}">
            <i class="flaticon-man flat-2x"></i>
            <p>Profil</p>
        </a>
    </li>
</ul>