{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="{{ asset('img/user.jpg') }}" alt="{{ user.username }}">
                    <h3 class="profile-username text-center">{{ user.firstname ~' '~user.lastname }}</h3>
                    <p class="text-muted text-center"></p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Messages</b> <a class="pull-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                            <b>Notification</b> <a class="pull-right">543</a>
                        </li>
                        <li class="list-group-item">
                            <b>Alertes</b> <a class="pull-right">13,287</a>
                        </li>
                    </ul>

                    <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary btn-block"><b>Modifier Profile</b></a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                    <p class="text-muted">Mednine, Tunisie</p>

                    <hr>

                    <strong><i class="fa fa-phone margin-r-5"></i> Telephone</strong>
                    <p>
                        <span class="label label-danger">{{ user.phone }}</span>
                    </p>

                    <hr>

                    <strong><i class="fa fa-birthday-cake margin-r-5"></i> Date de naissance</strong>
                    <p>
                        <span class="label label-danger">{{ user.date_naissance|date("m/d/Y", "Europe/Paris") }}</span>
                    </p>

                    <hr>

                    <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</div>
