
<div class="page-header">
    <h3>
        Itinéraire
    </h3>
</div>
<ul class="points_trajet">


    <div class="form-group col-7">
        <li class="point">
            <div class="from pos-relative">
                {{ form_errors(form.Origine) }}
                <span class="glyphicon glyphicon-map-marker green input-icon"></span>
                {{ form_label(form.Origine.lieu, 'Origine', {'label_attr': {'class': 'sr-only'}}) }}
                {{ form_widget(form.Origine.lieu, {'attr': {'class': 'form-Origine-lieu form-control text-indent',
                    'placeholder':'Origine'} } ) }}
                {{ form_widget(form.Origine.latitude) }}
                {{ form_widget(form.Origine.longitude) }}
                {{ form_widget(form.Origine.order) }}

            </div>
        </li>
    </div>
    <div class="form-group col-7">
        <li class="point_Destination">
            <div class="to pos-relative">
                {{ form_errors(form.Destination) }}

                {{ form_label(form.Destination.lieu, 'Destination', {'label_attr': {'class': 'sr-only'}}) }}

                {{ form_widget(form.Destination.lieu, {'attr': {'class': 'form-Destination-lieu form-control text-indent',
                    'placeholder':'Destination'} } ) }}
                <span class="glyphicon glyphicon-map-marker red input-icon"></span>
                {{ form_widget(form.Destination.latitude) }}
                {{ form_widget(form.Destination.longitude) }}
                {{ form_widget(form.Destination.order) }}
            </div>
        </li>
    </div>

    <a id="btn-route" class="btn btn-green pull-right"> <i class="fa fa-map-o fa-2x"></i> </a>
    <div>
        <h3>Villes étapes</h3>
        <p>Augmentez vos chances d’avoir des passagers en ajoutant des
            villes étapes :</p>

        <div class="col-7">
            <div class="waypoint-list">
                {{ form_widget(form.waypoints) }}
            </div>
        </div>


    </div>
</ul>