{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
    <div class="container">
        {{ include('@FOSUser/Profile/nav_pills_profile.html.twig') }}
        <div class="tab-content thumbnail">
            <!-- Tab pane Profile -->
            <div id="Profil" class="tab-pane fade in active">
                <div class="page-header">
                    <h2 class="violet-red">Profil</h2>
                </div>


                <div class="row">

                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="{{ path('fos_user_profile_edit') }}">Informations personnelles</a>
                            </li>
                            <li><a href="{{ path('photo_edit') }}">Photo</a></li>
                            <li><a href="{{ path('cars-show') }}">Véhicule</a></li>
                            <li class="active"><a href="{{ path('fos_user_change_password') }}">Mot de passe</a></li>
                            <li><a href="#">Fermeture de compte</a></li>
                        </ul>
                    </div>

                    <div class="col-md-8">

                        <div class="tab-content thumbnail">
                            <div id="mot-de-passe" class="tab-pane fade in active">
                                <div class="page-header">
                                    <h2 class="violet-red">Mot de passe</h2>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>
                </div>


            </div><!-- end Tab pane Profile -->
        </div>
    </div>

{% endblock fos_user_content %}