{% extends 'base.html.twig' %}


{% block title %}
    Vos notifications
{% endblock title %}



{% block body %}



    <div class="container" style="margin-top: 20px">

        <ul id="nav-pills-h-profil-e" class="nav nav-pills nav-justified">
            <li class="triangle-down">
                <a href="{{ path('mes-trajets') }}">
                    <i class="fa fa-car"></i>
                    <p>Covoiturages</p>
                </a>
            </li>
            <li class="triangle-down">
                <a href="#Avis">
                    <i class="fa fa-star"></i>
                    <p>Avis</p>
                </a>
            </li>
            <li class="triangle-down">
                <a href="{{ path('mes-alertes') }}">
                    <i class="fa fa-bullhorn"></i>
                    <p>Alerts</p>
                </a>
            </li>
            <li class="triangle-down">
                <a href="{{ path('fos_message_inbox') }}">
                    <i class="fa fa-envelope-o"></i>
                    <p>Messages</p>
                </a>
            </li>
            <li class="triangle-down active">
                <a href="{{ path('vos_notifications') }}">
                    <i class="fa fa-bell-o"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="triangle-down">
                <a href="{{ path('fos_user_profile_edit') }}">
                    <i class="flaticon-man flat-2x"></i>
                    <p>Profil</p>
                </a>
            </li>
        </ul>

        <div class="tab-content thumbnail">
            <!-- Tab pane Profile -->
            <div id="notification" class="tab-pane fade in active">
                <div class="page-header">
                    <h2 class="violet-red">Notifications</h2>
                </div>
            </div>
        </div>

                {% block notification_contenu %}


                {% endblock notification_contenu %}

    </div>
{% endblock body %}