{% extends 'FOSUserBundle::layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"  href="{{ asset('css/style_Security.css') }}"/>
{% endblock stylesheets %}

{% block fos_user_content %}


{% if error %}
    <div class="alert alert-warning"> {{ error }} </div>
{% endif %}

{# Form #}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <div class="form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>Connexion</h3>
                    <p>Enter username and password to log on:</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="login-form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username..." class="form-username form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" placeholder="Password..." class="form-password form-control"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>



                    <button type="submit" class="btn green-btn btn-block btn-lg" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>

                </form>
            </div>
        </div>

        <div class="social-login text-center">
            <h3>-- Ou --</h3>
            <div class="social-login-buttons">
                <a class="btn btn-link-2" href="#">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-link-2" href="#">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a class="btn btn-link-2" href="#">
                    <i class="fa fa-google-plus"></i> Google Plus
                </a>
            </div>
        </div>

    </div>

</div>
{#===================================================#}



{% endblock fos_user_content %}

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                    <p><a href="{{ path('homepage') }}"><strong>Wanasni 2016 ©</strong></a>
                        having a lot of fun. <i class="fa fa-smile-o"></i></p>
                </div>

            </div>
        </div>
    </footer>
{% endblock footer %}